<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app temporary>
      <!--  -->
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img
                :src="require('../assets/logo.png')"
                eager
            ></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="text-h6"> Buscador UNI</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>
      <v-list dense nav>
        <v-list-item v-for="t in tabs" :key="t.id" :to="t.route" link>
          <v-list-item-icon>
            <v-icon>{{ t.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ t.text }}</v-list-item-title>
        </v-list-item>
        <v-divider></v-divider>

        <v-list-item link @click="showConfig(1)">
          <v-list-item-icon>
            <v-icon>mdi-cog</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Configuración</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="background" dark dense elevate-on-scroll>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Buscador UNI</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="showConfig(1)">
        <v-icon>mdi-cog</v-icon>
      </v-btn>

      <template v-slot:extension>
        <v-tabs v-model="tab" align-with-title color="secundary">
          <v-tabs-slider color="secundary"></v-tabs-slider>
          <v-tab v-for="t in tabs" :id="t.id" :key="t.id" :to="t.route">
            {{ t.text }}
          </v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!--  Contenido de la app-->
      <!-- Provides the application the proper gutter -->
      <v-container class="pa-0" fluid style="height: 100%">
        <!-- If using vue-router -->
        <v-tabs-items v-model="tab" class="pa-3" style="height: 100%" @change="updateRouter($event)">
          <v-tab-item
              v-for="t in tabs"
              :key="t.id"
              :value="t.route.path"
          >
            <keep-alive>
              <router-view
                  v-if="t.id===1?($route.path==='/'):($route.path.includes(t.route.path) && tab.includes(t.route.path))"/>
            </keep-alive>
          </v-tab-item>
        </v-tabs-items>

      </v-container>
      <transition mode="out-in">
        <router-view v-if="$route.path === '/config'"/>
      </transition>

    </v-main>

    <v-footer app padless>
      <!-- -->
      <v-expand-transition>
        <v-banner
            v-if="sw.showUpdateUI"
            class="flex-grow-1"
            elevation="5"
            mobile-breakpoint="660"
        >
          {{ sw.textUI }}
          <template v-slot:actions>
            <v-btn
                v-if="sw.opt1has"
                color="iBlue"
                text
                @click="sw.showUpdateUI = false"
            >
              {{ sw.opt1text }}
            </v-btn>
            <v-btn
                v-if="sw.opt2has"
                color="iBlue"
                text
                @click="update"
            >
              {{ sw.opt2text }}
            </v-btn>
          </template>
        </v-banner>
      </v-expand-transition>
    </v-footer>

  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    tab: '',
    tabs: [
      {id: 1, text: 'Inicio', icon: 'mdi-home', route: {path: '/'}},
      {id: 2, text: 'Alumnos', icon: 'mdi-account-multiple', route: {path: '/alumnos'}},
      {id: 3, text: 'Postulantes', icon: 'mdi-account-plus', route: {path: '/postulantes'}},
    ],
    users: null,
    sw: {showUpdateUI: false, textUI: null, opt1text: null, opt2text: null, opt1has: true, opt2has: true}
  }),
  components: {},
  methods: {
    isDarkModeEnabled() {
      return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
    },
    changeDarkMode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      let b = this.$vuetify.theme.dark;
      this.$cookies.set("darkMode", b);
    },
    async update() {
      this.sw.showUpdateUI = false;
      await this.$workbox.messageSW({type: "SKIP_WAITING"});
    },
    updateRouter(tab) {
      this.$router.replace(tab)
    },
    showConfig(v) {
      let that = this
      if (v) {
        this.$router.push("/config");
        if (this.$routerHistory.hasPrevious()) {
          window.onpopstate = function () {
            that.showConfig(0)
          };
        }
      } else {
        window.onpopstate = function () {
        };
      }
    }
  },
  created() {
    if (this.$workbox) {
      this.$workbox.addEventListener("activated", (event) => {
        if (!event.isUpdate) {
          this.sw.textUI = "¡Bienvenido!"
          this.sw.opt1has = true;
          this.sw.opt1text = "Cerrar";
          this.sw.opt2has = false;
          this.sw.showUpdateUI = true;
          let that = this;
          window.setTimeout(function () {
            that.sw.showUpdateUI = false
          }, 4000);
        }
      });
      this.$workbox.addEventListener("waiting", () => {
        this.sw.textUI = "Hay una nueva actualización disponible"
        this.sw.opt1has = true;
        this.sw.opt1text = "Cerrar";
        this.sw.opt2has = true;
        this.sw.opt2text = "Actualizar";
        this.sw.showUpdateUI = true;
      });
    }
  },
  mounted() {
    if (!this.$cookies.isKey("darkMode"))
      this.$cookies.set("darkMode", this.isDarkModeEnabled());
    this.$vuetify.theme.dark = (this.$cookies.get("darkMode") === "true");
  }
};
</script>

<style>
.v-banner--is-mobile .v-banner__actions {
  margin-top: 0;
}

.v-banner__actions {
  margin-top: -8px !important;
  margin-left: 16px !important;
}

.theme--dark.v-tabs-items {
  background-color: #121212 !important;
}
</style>