<template>
  <v-card class="pa-2" color="card">
    <v-row no-gutters class="d-flex flex-column-reverse flex-sm-row">
      <v-col class="flex-grow-0 align-self-center pa-1" style="width: 220px">
        <v-card class="pa-1" outlined tile>
          <v-container style="background-color: white; width: 200px; height: 240px"/>
          <v-overlay absolute opacity=0 z-index="2">
            <v-img
                max-height="240"
                max-width="200"
                src="@/assets/noimage.jpg"
            >
            </v-img>
          </v-overlay>
        </v-card>
      </v-col>
      <v-col
          cols="1"
          style="min-width: 100px; max-width: 100%"
          class="flex-grow-1 flex-shrink-0 flex-wrap pa-1"
      >
        <v-container class="pa-0">
          <v-card
          >
            <v-simple-table dense>
              <template v-slot:default>
                <tbody>
                <tr>
                  <td class="font-weight-bold">N° Inscripción</td>
                  <td>{{ postulante.nroInscripcion }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Apellidos</td>
                  <td>{{ postulante.nombreCompleto.split(' ')[0] }} {{ postulante.nombreCompleto.split(' ')[1] }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nombres</td>
                  <td>{{ postulante.nombreCompleto.split(' ')[2] }} {{ postulante.nombreCompleto.split(' ')[3] }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nota Prueba 1</td>
                  <td>{{ postulante.prueba1 }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nota Prueba 2</td>
                  <td>{{ postulante.prueba2 }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nota Prueba 3</td>
                  <td>{{ postulante.prueba3 }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nota Acumulada</td>
                  <td>{{ postulante.acumulado }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nota Vigesimal</td>
                  <td>{{ Number(postulante.notaVigesimal).toFixed(3) }}</td>
                </tr>
                <tr v-if="postulante.ingresoFacultad!==undefined">
                  <td class="font-weight-bold">Condición 22{{'\xa0'}}-{{'\xa0'}}1</td>
                  <td v-if="postulante.ingresoFacultad==='nan'">NO ALCANZÓ VACANTE</td>
                  <td v-else>INGRESÓ A {{postulante.ingresoFacultad}}</td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "PostulanteCard",
  props: ['postulante'],
  data() {
    return {
      chartOptions: {
        type: 'doughnut',
        data: {
          datasets: [
            {
              data: [this.postulante.prueba1, this.postulante.prueba2, this.postulante.prueba3],
              backgroundColor: [
                'rgb(255,181,198)',
                'rgb(255,229,165)',
                'rgb(122,239,239)',
              ],
            },
          ],
          labels: ['Nota 1', 'Nota 2', 'Nota 3'],
        },
        options: {
          title: {
            display: true,
            text: 'Notas obtenidas',
          },
          plugins: {
            doughnutlabel: {
              labels: [
                { text: this.postulante.acumulado, font: { size: 20 } },
                { text: "Acumulado" },
              ],
            }
          },
        }
      },
    };
  },
}
</script>
