<template>
  <v-card class="pa-2" color="card2">
    <v-row class="d-flex flex-column-reverse flex-sm-row" no-gutters>
      <v-col class="flex-grow-0 align-self-center pa-1" style="width: 220px">
        <v-card class="pa-1" outlined tile>
          <v-container style="background-color: white; width: 200px; height: 240px"/>
          <v-overlay absolute opacity=0 z-index="2">
            <v-img
                :src=alumno.linkfoto
                eager
                max-height="240"
                max-width="200"
            >
              <template v-slot:placeholder>
                <v-row
                    align="center"
                    class="fill-height ma-0"
                    justify="center"
                >
                  <v-progress-circular
                      color="grey lighten-1"
                      indeterminate
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img>
          </v-overlay>

        </v-card>
      </v-col>
      <v-col
          class="flex-grow-1 flex-shrink-0 flex-wrap pa-1"
          cols="1"
          style="min-width: 100px; max-width: 100%"
      >
        <v-container class="pa-0">
          <v-card
          >
            <v-simple-table dense>
              <template v-slot:default>
                <tbody>
                <tr>
                  <td class="font-weight-bold">ID</td>
                  <td>{{ alumno.id }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Apellido Paterno</td>
                  <td>{{ alumno.nombreCompleto.split('-')[0] }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Apellido Materno</td>
                  <td>{{ alumno.nombreCompleto.split('-')[1] }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nombres</td>
                  <td>{{ alumno.nombreCompleto.split('-')[2] }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Facultad</td>
                  <td>{{ alumno.facultad }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Especialidad</td>
                  <td>{{ alumno.especialidad }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Ciclo Relativo</td>
                  <td>{{ alumno.cicloRelativo }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Codigo UNI</td>
                  <td>{{ alumno.codigoUni }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Rendimiento 20{{ '\xa0' }}-{{ '\xa0' }}2</td>
                  <td>
                    <v-icon>{{ iconRendimiento(alumno.rendimiento202) }}</v-icon>
                    {{ alumno.rendimiento202 }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold d-inline-flex align-center" style="height: auto">
                    <v-img class="my-1 mr-2 flex" contain eager src="../assets/logounivirtual.png" width="22"/>
                    <span class="">UNI VIRTUAL</span>
                  </td>
                  <td v-if="alumno.idUniVirtual!==null">
                    <a :href="linkUniVirtual(alumno.idUniVirtual)" target="_blank">Ir al perfil</a>
                  </td>
                  <td v-else class="font-italic">No disponible</td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </v-container>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "StudentCard",
  props: ['alumno'],
  methods: {
    iconRendimiento(r) {
      switch (r) {
        case 'DECIMO SUPERIOR': return "mdi-chevron-triple-up"
        case 'QUINTO SUPERIOR': return "mdi-chevron-double-up"
        case 'TERCIO SUPERIOR': return "mdi-chevron-up"
        case 'MEDIA SUPERIOR': return "mdi-circle-small"
        default: return ""
      }
    },
    linkUniVirtual(id) {
      if (id !== null)
        return "https://univirtual.uni.pe/user/profile.php?id=" + id
    }
  },
}
</script>
