<template>
  <div>
    <v-container>
      <p class="title text-center">Resultados Postulantes</p>
      <v-card
          class="ma-auto">
        <v-data-table
            dense
            :headers="headers"
            :items="results"
            class="elevation-1"
            mobile-breakpoint="660"
            :footer-props="footerProps"
        >
        </v-data-table>
      </v-card>
    </v-container>
  </div>
</template>

<script>

export default {
  name: "DataTablePostulante",
  data() {
    return {
      results: [],
      footerProps: {
        showFirstLastPage: true,
        showCurrentPage: true,
        itemsPerPageOptions: [10,20,50,100,-1]
      },
      headers: [
        {text: 'Nro. Inscripción', value: 'nroInscripcion'},
        {text: 'Nombre Completo', value: 'nombreCompleto'},
        {text: 'Prueba 1', value: 'prueba1'},
        {text: 'Prueba 2', value: 'prueba2'},
        {text: 'Prueba 3', value: 'prueba3'},
        {text: 'Puntuación Final', value: 'acumulado'},
        {text: 'Nota sobre 20', value: 'notaVigesimal'},
      ],
      dialog: false,
      userDialog: null
    };
  },
  methods: {
    showDialog(item) {
      this.userDialog = item;
      this.dialog = true;
    },
  },
  mounted() {
    this.axios.get("../api/postulantes/ver")
        .then(response => {
          this.results = response.data
        })
        .catch(function (error) {
          console.log(error);
        });
  },
};
</script>
