<template>
  <div>
    <v-container>
      <v-flex align-self-center>
        <v-autocomplete
            v-model="searchString"
            :dense="$vuetify.breakpoint.xsOnly"
            :filter="searchFilter"
            :item-text="textSearch"
            :items="users"
            :loading="loading"
            :menu-props="
              $vuetify.breakpoint.smAndDown
                ? { maxHeight: 150 }
                : {
                    closeOnClick: false,
                    closeOnContentClick: false,
                    disableKeys: true,
                    openOnClick: false,
                    maxHeight: 304,
                  }
            "
            clearable
            color="primary"
            full-width
            item-value="nroInscripcion"
            label="Buscar postulante..."
            prepend-inner-icon="mdi-magnify"
            solo
            @input="focusOff()"
        >
          <!-- Cuando no hay resultados encontrados-->
          <template v-slot:no-data>
            <v-list-item>
              <v-list-item-title>
                <div v-if="loading===true"><strong>Obteniendo datos...</strong></div>
                <div v-else-if="er!==''"><i><strong>{{ er }}</strong></i></div>
                <div v-else><strong>NO SE ENCONTRARON RESULTADOS</strong></div>
              </v-list-item-title>
            </v-list-item>
          </template>

          <template v-slot:item="{ item }">
            <v-list-item-avatar
                class="d-none d-sm-flex text-h5 font-weight-light white--text"
                color="indigo"
                style="justify-content: center"
            >
              {{ item.nombreCompleto.charAt(0) }}
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="item.nombreCompleto"></v-list-item-title>
              <v-list-item-subtitle v-text="'Nro Inscripción:  ' + item.nroInscripcion"></v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-autocomplete>
      </v-flex>
    </v-container>
    <v-container v-if="searchString != null" class="pa-1">
      <PostulanteCard :postulante="getAlumnoById[0]"></PostulanteCard>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "SearchPostulante",
  components: {
    PostulanteCard: () => import(/* webpackChunkName: "card" */ "@/components/PostulanteCard"),
  },
  data() {
    return {
      searchString: null,
      loading: true,
      show: null,
      er: "",
      users: [],
    };
  },
  methods: {
    searchFilter(item, queryText) {
      const text1 = item.nombreCompleto.toLowerCase()
      const text2 = item.nroInscripcion.toLowerCase()
      let words = queryText.toLowerCase().split(' ')
      for (let j = 0; j < words.length; j++) {
        if (
            !text1.includes(words[j]) &&
            !text2.includes(words[j])) {
          return false
        }
      }
      return true
    },
    textSearch(item) {
      return item.nombreCompleto
    },
    focusOff() {
      document.activeElement.blur();
    },
  },
  computed: {
    getAlumnoById() {
      return this.users.filter(item =>
          item.nroInscripcion === this.searchString
      )
    },
  },
  mounted() {
    let that = this
    this.axios.get("../api/postulantes/ver", {
      headers: {}
    })
        .then(response => {
          this.users = response.data
          this.loading = false;
        })
        .catch(function (error) {
          that.er = error.toString();
          that.loading = false;
        });
  },
};
</script>