<template>
  <div>
    <v-container>
      <v-flex align-self-center>
        <v-autocomplete
            v-model="inputSearch"
            :item-text="textSearch"
            :items="users"
            :loading="loading"
            :search-input.sync="search"
            clearable
            color="primary"
            full-width
            label="Buscar postulante..."
            no-filter
            placeholder="(en blanco)"
            prepend-inner-icon="mdi-magnify"
            return-object
            solo
            @click:clear="clearData"
        >
          <!-- Cuando no hay resultados encontrados-->
          <template v-slot:no-data>
            <v-list-item>
              <v-list-item-title>
                <div v-if="loading===true"><strong>Obteniendo datos...</strong></div>
                <div v-else-if="er!==''"><i><strong>{{ er }}</strong></i></div>
                <div v-else><strong>NO SE ENCONTRARON RESULTADOS</strong></div>
              </v-list-item-title>
            </v-list-item>
          </template>

          <template v-slot:item="{ item }">
            <v-list-item-avatar
                class="d-none d-sm-flex text-h5 font-weight-light white--text"
                color="indigo"
                style="justify-content: center"
            >
              {{ item.nombreCompleto.charAt(0) }}
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="item.nombreCompleto"></v-list-item-title>
              <v-list-item-subtitle v-text="item.nroInscripcion"></v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-autocomplete>
      </v-flex>
    </v-container>
    <v-container v-if="inputSearch != null" class="pa-1">
      <PostulanteCard :postulante="inputSearch"></PostulanteCard>
    </v-container>
  </div>
</template>

<script>
const _ = require('lodash');

export default {
  name: "SearchPostulante",
  components: {
    PostulanteCard: () => import(/* webpackChunkName: "card" */ "@/components/PostulanteCard"),
  },
  data() {
    return {
      inputSearch: null,
      loading: false,
      er: "",
      users: [],
      search: null,
      headers: [
        'nroInscripcion',
        'nombreCompleto',
        'prueba1',
        'prueba2',
        'prueba3',
        'acumulado',
        'notaVigesimal',
        'ingresoFacultad'
      ],
    };
  },
  methods: {
    clearData() {
      this.users = [];
    },
    querySelections(val) {
      this.loading = true;
      this.getAxios(val);
    },
    csvJSON(csv) {
      let lines = csv.split("\n");
      let result = [];
      for (let i = 0; i < lines.length - 1; i++) {
        var obj = {};
        var currentline = lines[i].split(", ");
        for (var j = 0; j < this.headers.length; j++) {
          obj[this.headers[j]] = currentline[j];
        }
        result.push(obj);
      }
      return result
    },
    getAxios(valor) {
      let that = this
      this.axios.get("https://pruebaazurefunctionjorge3.azurewebsites.net/api/buscaralumnos?name=" + valor, {
        responseType: 'text',
        headers: {
          'Access-Control-Allow-Origin': '*',
        },
      })
          .then(response => {
            this.users = this.csvJSON(response.data);
            this.loading = false;
          })
          .catch(function (error) {
            that.er = error.toString();
            that.loading = false;

          });
    },
    textSearch(item) {
      return item.nombreCompleto
    },
  },
  watch: {
    search: _.debounce(function (val) {
      val && (this.inputSearch !== null ? val !== this.inputSearch.nombreCompleto : true) && this.querySelections(val)
    }, 800)
  },
};
</script>