<template>
  <v-container>
    <v-col class="text-center" cols="12">
      <p class="text-h5 font-weight-bold">Datos Alumnos UNI</p>
      <v-btn-toggle
          v-model="component"
          :mandatory="component!==null"
          borderless
          color="red accent-4"
          light
          rounded
          @change="updateRouter($event)"
      >
        <v-btn :small="$vuetify.breakpoint.width<=400" color="green lighten-5" value="/alumnos/top">
          <v-icon left>
            mdi-star
          </v-icon>
          <span>Mejores<span class="d-flex d-sm-inline"> 10 alumnos</span></span>
        </v-btn>
        <v-btn :small="$vuetify.breakpoint.width<=400" color="green lighten-5" value="/alumnos/busqueda">
          <v-icon left>
            mdi-magnify
          </v-icon>
          <span>Buscar Alumno</span>
        </v-btn>
      </v-btn-toggle>
    </v-col>
    <v-divider/>
    <keep-alive>
      <router-view/>
    </keep-alive>
  </v-container>
</template>

<script>
export default {
  name: "MainAlumno",
  data() {
    return {
      component: null,
    };
  },
  methods: {
    updateRouter(val) {
      if (val !== null && this.component !== this.$route.path)
        this.$router.replace(val)
    },
  },
  activated: function () {
    this.updateRouter(this.component)
  },
  mounted() {
    if (this.$route.path.split('/')[2] !== undefined) {
      this.component = this.$route.path
      this.updateRouter(this.component)
    }
  }
}

</script>