<template>
  <div>
    <v-container>
      <v-flex align-self-center>
        <v-autocomplete
            v-model="inputSearch"
            :dense="$vuetify.breakpoint.xsOnly"
            :item-text="textSearch"
            :items="users"
            :loading="loading"
            :menu-props="
              $vuetify.breakpoint.smAndDown
                ? { maxHeight: 150 }
                : {
                    closeOnClick: false,
                    closeOnContentClick: false,
                    disableKeys: true,
                    openOnClick: false,
                    maxHeight: 304,
                  }
            "
            :search-input.sync="search"
            clearable
            color="primary"
            full-width
            label="Buscar alumno por nombre, facultad, codigo UNI, ..."
            no-filter
            prepend-inner-icon="mdi-magnify"
            return-object
            solo
            @input="focusOff()"
            @click:clear="clearData"
        >
          <!-- Cuando no hay resultados encontrados-->
          <template v-slot:no-data>
            <v-list-item>
              <v-list-item-title>
                <div v-if="loading===true"><strong>Obteniendo datos...</strong></div>
                <div v-else-if="er!==''"><i><strong>{{ er }}</strong></i></div>
                <div v-else><strong>NO SE ENCONTRARON RESULTADOS</strong></div>
              </v-list-item-title>
            </v-list-item>
          </template>

          <template v-slot:item="{ item }">
            <v-list-item-avatar
                class="d-none d-sm-flex text-h5 font-weight-light white--text"
                color="indigo"
                style="justify-content: center"
            >
              {{ item.nombreCompleto.charAt(0) }}
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title v-text="item.nombreCompleto"></v-list-item-title>
              <v-list-item-subtitle v-text="item.codigoUni + ' • ' + item.especialidad"></v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action class="d-none d-sm-flex">
              <v-icon v-text="iconRendimiento(item.rendimiento202)"></v-icon>
              <v-list-item-action-text v-text="item.rendimiento202">

              </v-list-item-action-text>
            </v-list-item-action>

          </template>
        </v-autocomplete>
      </v-flex>
    </v-container>
    <v-container v-if="inputSearch != null" class="pa-1">
      <StudentCard :alumno="inputSearch"></StudentCard>
    </v-container>
  </div>
</template>

<script>
const _ = require('lodash');

export default {
  name: "SearchAlumno",
  components: {
    StudentCard: () => import(/* webpackChunkName: "card" */ "@/components/StudentCard"),
  },
  data() {
    return {
      inputSearch: null,
      loading: false,
      er: "",
      users: [],
      search: null,
    };
  },
  methods: {
    clearData() {
      this.users = [];
    },
    querySelections(val) {
      this.loading = true;
      this.getAxios(val);
    },
    getAxios(valor) {
      let that = this
      this.axios.get("../api/alumnos/buscar/" + valor, {
        headers: {}
      })
          .then(response => {
            this.users = response.data
            this.loading = false;
          })
          .catch(function (error) {
            that.er = error.toString();
            that.loading = false;
          });
    },
    textSearch(item) {
      return item.nombreCompleto
    },
    iconRendimiento(r) {
      switch (r) {
        case 'DECIMO SUPERIOR':
          return "mdi-chevron-triple-up"
        case 'QUINTO SUPERIOR':
          return "mdi-chevron-double-up"
        case 'TERCIO SUPERIOR':
          return "mdi-chevron-up"
        case 'MEDIA SUPERIOR':
          return "mdi-circle-small"
        default:
          return ""
      }
    },
    focusOff() {
      document.activeElement.blur();
    },
  },
  watch: {
    search: _.debounce(function (val) {
      val && (this.inputSearch !== null ? val !== this.inputSearch.nombreCompleto : true) && this.querySelections(val)
    }, 800)
  },
};
</script>