<template>
  <div>
    <v-container>
      <p class="title text-center">Los mejores alumnos UNI</p>
      <v-card
          class="ma-auto">
        <v-data-table
            :headers="headers"
            :items="topUsers"
            class="elevation-1"
            disable-sort
            hide-default-footer
            mobile-breakpoint="660"
        >
          <template v-slot:top>
            <v-dialog v-model="dialog" overlay-opacity="0.75" scrollable>
              <v-card>
                <v-card-title>
                  Información del alumno
                  <v-spacer></v-spacer>
                  <v-icon color="warning" @click="dialog = false">mdi-close</v-icon>
                </v-card-title>
                <v-divider/>
                <v-card-text class="pa-0">
                  <StudentCard :alumno="userDialog"></StudentCard>
                </v-card-text>
              </v-card>
            </v-dialog>
          </template>

          <template v-slot:item.detalles="{ item }">
            <v-btn
                color="error"
                elevation="2"
                tile
                x-small
                @click="showDialog(item)"
            >Ver Info
            </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-container>
  </div>
</template>

<script>

export default {
  name: "TopAlumno",
  components: {
    StudentCard: () => import(/* webpackChunkName: "card" */ "@/components/StudentCard"),
  },
  data() {
    return {
      topUsers: [],
      headers: [
        {text: 'Código UNI', value: 'codigoUni'},
        {text: 'Nombre Completo', value: 'nombreCompleto'},
        {text: 'Facultad', value: 'facultad'},
        {text: 'Especialidad', value: 'especialidad'},
        {text: 'Ciclo Relativo', value: 'cicloRelativo'},
        {text: 'Rendimiento (20\xa0-\xa02)', value: 'rendimiento202'},
        {text: 'Nota (21\xa0-\xa02)', value: 'nota212'},
        {text: 'Detalles', value: 'detalles'},
      ],
      dialog: false,
      userDialog: null
    };
  },
  methods: {
    showDialog(item) {
      this.userDialog = item;
      this.dialog = true;
    },
  },
  mounted() {
    this.axios.get("../api/alumnos/top")
        .then(response => {
          this.topUsers = response.data
        })
        .catch(function (error) {
          console.log(error);
        });
  },
};
</script>
