<template>
  <v-row justify="center" style="overflow-y: hidden">
    <v-dialog
        v-model="activ"
        fullscreen
        hide-overlay
        transition="tab-transition"
    >
      <v-card tile>
        <v-toolbar
            color="background"
            dark
        >
          <v-btn
              dark
              icon
              @click="exitConfigDialog()"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Configuración</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
                dark
                text
                @click="changeDarkMode(radioGroup)"
            >
              Listo
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-list
            one-line
            subheader
        >
          <v-subheader class="font-weight-bold">Tema de la aplicación</v-subheader>
          <v-subheader class="mb-3">
            <v-radio-group v-model="radioGroup" mandatory>
              <v-radio label="Tema claro" value=false></v-radio>
              <v-radio label="Tema oscuro" value=true></v-radio>
            </v-radio-group>
          </v-subheader>
          <v-divider/>
        </v-list>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: "ConfigDialog",
  data() {
    return {
      radioGroup: null,
    }
  },
  props: ['activ'],
  methods: {
    exitConfigDialog() {
      if (this.$routerHistory.hasPrevious()) {
        this.$router.replace(this.$routerHistory.previous().path);
      } else
        this.$router.replace("/");
      //this.$emit('exit')
    },
    changeDarkMode(val) {
      this.$vuetify.theme.dark = (val === "true");
      let b = this.$vuetify.theme.dark;
      this.$cookies.set("darkMode", b);
      this.exitConfigDialog();
    },
  },
  mounted() {
    this.radioGroup = this.$cookies.get("darkMode");
  },
}
</script>