<template>
  <div class="home">
    <v-container>
      <v-row class="text-center">
        <v-col cols="12">
          <v-img
              :src="require('../assets/logo.png')"
              class="my-3"
              contain
              eager
              height="300"
          />
        </v-col>

        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            Buscador de Alumnos UNI
          </h1>
          <p class="subheading font-weight-regular">
            Encuentralo aquí, seleccione qué desea ver:
          </p>
          <v-divider/>
          <v-btn class="ma-2" color="card2" @click="$router.push('/alumnos')">
            Datos Alumnos UNI
          </v-btn>
          <v-btn class="ma-2" color="card" @click="$router.push('/postulantes')">
            Postulantes UNI 2022-1
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {}
}
</script>
